

footer {
    display: flex;
    flex-direction: row;
    background-color: #021519;
    color: rgb(233, 241, 16);;
    background-color: #021519;
    padding-left: 170px;
    
    
  }
  
  ul {
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
    
  }
  
  li{
    list-style: none;
  }
  