

nav{
    background-color: #021519;
    width: 100%;
    height: 10%;
    ul{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style:none;
        text-transform: none;
        
        li{
                 
            font-size: x-large;
            a{
                color: #f0e71e;
                text-decoration: none;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
        }
      
    }
    
       

    
}